/* 滚动条滑块 */
.scroll {
    background: whiteSmoke;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9999;
    width: 11px;
}
.scrollbar {
    background-color: #7B7B7B;
    cursor: pointer;
    display: block;
    /*height: 20%;*/
    left: 1px;
    position: absolute;
    top: 0px;
    width: 9px;
}
.scrollbar:hover {
    background-color: #9F9F9E;
}